body {
    font-family: "Open Sans", sans-serif;
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top:35vh;
    margin-bottom: none;
    background-attachment: fixed;
}

.querry {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(104, 123, 42);
}

.overall {
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    column-gap: 10px;
    text-align: center;
    
}

.answer-yes {
    background-color: rgb(137, 139, 141);
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    transition: opacity 0.15s;
    margin-right: 10px;
}

.answer-yes:hover {
    opacity: 0.8
}

.answer-yes:active {
    opacity: 0.5
}

.answer-no {
    background-color: rgb(137, 139, 141);
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    margin-right: 20px;
}

.answer-no:hover {
    opacity: 0.8
}

.answer-no:active {
    opacity: 0.5
}
